body {
  background-color: rgb(218, 193, 198);
}
.App {
  background-color: rgb(207, 146, 146);
  min-height: 95vh;
  width: 400px;
  margin: 20px auto;
}
.crossed {
  text-decoration: line-through 2px rgb(117, 6, 43);
}
ul, li {
  list-style-type: none;
  font-family: 'DynaPuff', cursive;
  padding: 10px;
  margin: 0;
}
h1 {
  font-family: 'DynaPuff', cursive;
  color: rgb(87, 31, 31);
}
.container{
  display:flex;
  justify-content: center;
}
.add {
  background-color: rgb(115, 128, 245);
  margin-top: 5px;
  padding: 10px;
  border: none;
  width: 70%;
  color:rgb(21, 24, 68);
  font-size: 18px;
  font-family: 'DynaPuff', cursive;
}
.delete {
background-color: brown;
padding: 10px;
  border: none;
  width: 70%;
  margin-bottom: 5px;
  color:rgb(39, 5, 5);
  font-size: 18px;
  font-family: 'DynaPuff', cursive;
}
input {
  flex: 1;
  padding: 8px;
  margin: 10px;
}
